.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.box {
  background-color: antiquewhite;
  width: 500px;
  margin: 10px;
  border: 1px solid lightgray;
}
.container div:nth-child(2) {
  background-color: aqua;
}
@media screen and (min-width: 500px) {
  .container {
    flex-direction: row;
  }
}
@media screen and (min-width: 900px) {
  .box{
    background-color: lightsalmon;
    color: whitesmoke;
  }
  .container div:nth-child(2) {
    color:palevioletred;
  }
}
